<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <test name="Test Suite">
        <classes>
            <class name="testcases.party.PopUpTest"/>
            <class name="testcases.party.ContactUsTest"/>
            <class name="testcases.party.CreateAccountTest"/>
            <class name="testcases.party.SignInTest"/>
            <class name="testcases.party.TwoFactorAuthenticationTest"/>
            <class name="testcases.party.HalloweenPartyTest"/>
        </classes>
    </test>
</suite>